body{
font-family: Arial, sans-serif;
text-align: center;
background-color:#84cfe2;
}
header{
font-family:Roboto;
font-size:26px;
color:black;
font-weight:bold;
text-align:center;
margin-top:20px;
margin-bottom:20px;
}

.container{
background-color:#FFFFFF;
font-family:Quicksand;
max-width:70%;
margin:auto;
padding:0;
border-radius:15px;
}

h2{
position:relative;
bottom:8px;
font-size:16px;
text-align:center;
font-weight:bold;
}

.fieldset{
border-width:0;
padding-top:1%;
}

.sub-group{
position:relative;
right:30px;
display:flex;
justify-content:center;
flex-wrap:wrap;
padding:1%;
}

label.left{
width:30%;
padding-right:4%;
text-align:right;
}
.vizu{
margin-top: 20px;
}
.input-field{
height:20px;
padding:5px;
border: 1px solid #c0c0c0;
border-radius: 3px;
}

.botao{
text-align:center;
}

#submit{
background:#b1dffa;
font-family:Roboto;
border-radius:4px;
font-size:23px;
}


