body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

select, input[type="text"], input[type="date"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px auto;
    display: block;
}

.error {
    display: none;
    color: red;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 20px auto;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.resumo {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.pontaPapel {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
}

