
  body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    background-color: #f7f7f7;
}
.caption {
    color: #777;
    font-family: 'Lucida Sans';
    font-size: 12px;
}
p {
   font-family: cursive;
   text-align: justify;
   font-size: 16px;
   margin-bottom: 20px;
}

img{
    width: 25%;
}

.centralizar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
