body{
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: inter;
    background-color: rgb(123, 180, 230) ;
}
.grid{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 80vw;
    height: 80vh;
}
header{
    height: 7vh;
    width: 80vw;
    background-color: rgb(159, 189, 216) ;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}
.card{
    background-color: rgb(159, 189, 216);
    padding: 0px 25px 25px 25px;
    border-radius: 10px;
}
.top{
    padding: 0px 25px 0px 25px;
}
h3{
    color: #387feb;
}
a{
    color:  #387feb;
    text-decoration: none;
}
p{
    color: #000000;
}
button{
    height: 30%;
    width: 20%;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: #ffe7ae;
}
